body, html {
    height: 100%;
}


#wrapper{
	width: 100%;
}
#Op1{
	width: 200px;
	background-color: lightgray;
}
#Op2{
	width: 200px;
	background-color: pink;
}



.section {        
    position:relative;
    z-index:1;
    height:500px;
    width:100%;
    background-attachment:fixed;    /* this keeps the background in place */
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}
.content {
    position:relative;
    z-index:2;
    background-color:#fff;
    border:2px solid #666;    
    height:50%;    /* this height difference allows the bg to show through */    
}
.section#s1 {
    background-image: url(/img/background1.png);  
    height: 100%; 
}
.section#s2 {
    background-image: url(/img/background2.png);
}
.section#s3 {  
    background-image: url(/img/background3.png);
}
.section#s4 {    
    background-image: url(/img/background8.png);
}
.section#s5 {    
    background-image: url(/img/background9.png);
}
