@media screen and (max-width: 480px){
	#infoAcc{
		width: 150px;
	}
	#statusConn{
		padding-top: 12px;
		padding-right: 0px;
	}
	#iConn{
		float: right;
	}
	#moreinfo{
		display: none;
	}
	#infoAcc{
		width: 50px;
		padding-right: 10px;
	}
}