#myMinMax{
	width: 100%;
	height: 280px;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 20px;
}
#myMinMaxtb{
	width: 100%;
	height: 100%;
}
#myMinMaxtb td:first-of-type{
	padding-left: 10px;
	text-align: left;
}
#myMinMaxtb tr{
	color: white;
}
#myMinMaxtb tr:hover{
	background-color: #3e4855;
}
#myMinMaxtb tr:first-of-type{
	border-bottom: 0.2px solid rgb(77, 93, 101);
}
#myMinMaxtb tr:first-of-type:hover{
	background-color: rgb(50,60,72);
}


.timeMinMax{
	font-size: 11px;
	color: gray;
}